{% extends 'base.html.twig' %}

{% block title %}Edit Issue{% endblock %}

{% block body %}
    <h1>Edit Issue</h1>

    {{ include('front/issue/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_front_issue_index') }}">back to list</a>

    {{ include('front/issue/_delete_form.html.twig') }}
{% endblock %}
