{% extends 'base.html.twig' %}

{% block title %}New FaqCategory{% endblock %}

{% block body %}
    <h1>Create new FaqCategory</h1>

    {{ include('back/faq_category/_form.html.twig') }}

    <a href="{{ path('app_back_faq_category_index') }}">back to list</a>
{% endblock %}
